# PostgreSQL Admin
POSTGRES_ADMIN_PASSWORD=your_secure_admin_password_here

# Service Database Passwords
CART_DB_PASSWORD=your_cart_db_password_here
ORDER_DB_PASSWORD=your_order_db_password_here
PRODUCT_DB_PASSWORD=your_product_db_password_here
RATING_DB_PASSWORD=your_rating_db_password_here
USER_DB_PASSWORD=your_user_db_password_here

# Stripe (Payment Service)
STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key_here
STRIPE_PUBLISHABLE_KEY=pk_test_your_stripe_publishable_key_here

# Service URLs (Frontend)
CART_SERVICE_URL=http://localhost:8080/api/v1
ORDER_SERVICE_URL=http://localhost:5000/api/v1
PAYMENT_SERVICE_URL=http://localhost:8081/api/v1
PRODUCT_SERVICE_URL=http://localhost:8000/api/v1
RATING_SERVICE_URL=http://localhost:8001/api/v1
USER_SERVICE_URL=http://localhost:8002/api/v1

# Environment
NODE_ENV=development
PYTHON_ENV=development

# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/auth/login
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/auth/signup
NEXT_PUBLIC_CLERK_SIGN_IN_FORCE_REDIRECT_URL=/dashboard
NEXT_PUBLIC_CLERK_SIGN_UP_FORCE_REDIRECT_URL=/onboarding
