NODE_ENV='development'
PORT=3000
# Replace these with your database username, password, host, port, and database name.
DATABASE_URL='postgresql://<username>:<password>@<host>:<port>/<database name>'

# Frontend CORS
FRONTEND_URL='http://localhost:3000'

# Clerk Authentication
CLERK_SECRET_KEY='sk_test_...'