# Replace these with your database username, password, host, port, and database name.
DATABASE_URL='postgresql://<username>:<password>@<host>:<port>/<database name>'

GEMINI_API_KEY='your-api-key'
ENVIRONMENT='development'

# Frontend CORS
FRONTEND_URL='http://localhost:3000'